.nourriture {
  flex: 4;
  padding: 20px;
}

.nourritureTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nourritureAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.nourritureContainer {
  display: flex;
  margin-top: 20px;
}

.nourritureShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.nourritureUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
  
}

.nourritureShowTop {
  display: flex;
  align-items: center;
}

.nourritureShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nourritureShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.nourritureShowUsername {
  font-weight: 600;
}

.nourritureShowUserTitle {
  font-weight: 300;
}

.nourritureShowBottom{
    margin-top: 20px;
}

.nourritureShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.nourritureShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.nourritureShowIcon{
    font-size: 16px !important;
}

.nourritureShowInfoTitle{
    margin-left: 10px;
}

.nourritureUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.nourritureUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nourritureUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.nourritureUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.nourritureUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.nourritureUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nourritureUpdateUpload{
    display: flex;
    align-items: center;
}

.nourritureUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.nourritureUpdateIcon{
    cursor: pointer;
}

.nourritureUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}